* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}


.footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 40px 20px;

}
